.center
{
    text-align: center;
}
.top
{
    vertical-align: top;
}
.right
{
    text-align: right;
}
.font
{
    text-align: justify;
    font-weight: 540;
    font-size: 18px;
}
.flex
{
    width:90%;
    display: flex;
    margin:auto;
}
